:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #131419; /* Dark background for the whole page */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #ff6347; /* Tomato color for links */
  text-decoration: none; /* No underline */
}

a:hover {
  color: #ff4500; /* Orange Red when hovered */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #add8e6; /* Light Blue */
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6a5acd; /* Slate Blue */
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #483d8b; /* Dark Slate Blue */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0f8ff; /* Alice Blue background for light mode */
  }
  button {
    background-color: #f0f8ff;
  }
}
